body {
  padding-top: 60px;
  background: #ebebeb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.j-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px) saturate(150%) brightness(1.1);
  z-index: 9999;
}
.j-header .logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin-right: 30px;
  user-select: none;
}
.j-header .logo img {
  width: 25px;
  margin-right: 10px;
}
.j-header .logo span {
  font-size: 18px;
  color: #f4645f;
  font-weight: 500;
}
.j-header .header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.j-header .header ul {
  display: flex;
  align-items: center;
}
.j-header .header ul li {
  position: relative;
  margin-left: 20px;
}
.j-header .header ul li:first-child {
  margin-left: 0;
}
.j-header .header ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
.j-header .header ul li .link {
  position: relative;
  display: block;
  line-height: 60px;
  padding: 0 10px;
  color: #505050;
  transition: color 0.4s ease;
  user-select: none;
}
.j-header .header ul li .link::after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: all 0.4s ease;
  background: #f4645f;
}
.j-header .header ul li .link.active {
  color: #f4645f;
  font-weight: 500;
}
.j-header .header ul li .link.active::after {
  opacity: 1;
  transform: scaleX(1);
}
.j-header .header ul li .link:hover {
  color: #f4645f;
}
.j-header .header ul li .link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.j-header .header ul li .cate {
  display: block;
  line-height: 60px;
  padding: 0 10px;
  color: #505050;
  user-select: none;
}
.j-header .header ul li .submenu {
  top: 50px;
  opacity: 0;
  left: 50%;
  margin-left: -56px;
  width: 112px;
  position: absolute;
  background: #fff;
  visibility: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-20deg);
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
  border-radius: 5px;
  transform-origin: top;
  z-index: 99;
  overflow: hidden;
  padding: 10px 0;
}
.j-header .header ul li .submenu a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #505050;
  padding: 10px 14px;
  transition: all 0.3s;
}
.j-header .header ul li .submenu a.active {
  color: #f4645f;
}
.j-header .header ul li .submenu a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.j-header .header form {
  position: relative;
  display: flex;
  margin-left: auto;
}
.j-header .header form input {
  background: #f1f3fa;
  width: 170px;
  height: 34px;
  padding: 0 32px 0 20px;
  color: #6c757d;
  outline: none;
  border: none;
  border-radius: 17px 0 0 17px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  border-right: none;
}
.j-header .header form input:focus {
  border: 1px solid #f4645f;
  border-right: none;
  background: #fff;
}
.j-header .header form button {
  padding: 0 10px;
  height: 34px;
  border: none;
  outline: none;
  background: #f4645f;
  color: #fff;
  cursor: pointer;
  border-radius: 0 17px 17px 0;
  user-select: none;
}
.j-header .header form .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: #6c757d;
  top: 50%;
  left: 145px;
  margin-top: -9px;
  transform: scale(0);
  cursor: pointer;
  transition: transform 0.2s;
}
.j-actions {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.j-actions .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform 400ms ease;
}
.j-actions .button svg {
  color: #795548;
  width: 15px;
}
.j-actions .button#backtop {
  transform: scale(0);
}
.j-aside {
  width: 280px;
  animation: showByRight 1s;
}
.j-aside .card {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.j-aside .card h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  user-select: none;
  color: #333;
}
.j-aside .card .content {
  padding: 15px;
}
.j-aside .card:last-child {
  margin-bottom: 0;
}
.j-aside .author .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  padding-bottom: 20px;
}
.j-aside .author .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #dee2e6;
  padding: 5px;
  margin-bottom: 10px;
  transition: all 0.75s ease;
  user-select: none;
}
.j-aside .author .user img:hover {
  transform: rotate(360deg);
}
.j-aside .author .user a {
  user-select: none;
  color: #409eff;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.j-aside .author .user a:hover {
  text-decoration: underline;
}
.j-aside .author .user p {
  font-size: 14px;
  color: #212529;
  user-select: none;
}
.j-aside .author .webinfo {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.j-aside .author .webinfo .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.j-aside .author .webinfo .item:nth-child(2) {
  border-left: 1px solid rgba(150, 150, 150, 0.1);
  border-right: 1px solid rgba(150, 150, 150, 0.1);
}
.j-aside .author .webinfo .item span {
  font-size: 14px;
  color: #666;
}
.j-aside .author .webinfo .item .num {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  margin-bottom: 3px;
}
.j-aside .weather .content {
  position: relative;
  height: 300px;
}
.j-aside .cloud .content {
  height: 280px;
}
.j-aside .cloud ul {
  display: none;
}
.j-aside .reply .content {
  padding: 15px 0;
}
.j-aside .reply .content ol {
  max-height: 250px;
  overflow: hidden;
}
.j-aside .reply .content ol li {
  padding: 0 15px;
  transition: all 0.4s ease;
}
.j-aside .reply .content ol li:hover {
  background: #eee;
}
.j-aside .reply .content ol li a {
  display: flex;
  padding: 10px 0;
}
.j-aside .reply .content ol li a img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.j-aside .reply .content ol li a div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}
.j-aside .reply .content ol li a div span {
  max-width: 50%;
  color: #555;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.j-aside .reply .content ol li a div p {
  color: #999;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.j-aside .relevant {
  position: sticky;
  top: 90px;
}
.j-aside .relevant .links {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.j-aside .relevant .links a {
  padding: 10px 0;
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
}
.j-aside .relevant .links a:first-child {
  padding-top: 0;
}
.j-aside .relevant .links a:hover {
  color: #409eff;
}
.j-comment {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
}
.j-comment h3 {
  font-size: 24px;
  color: #303030;
  font-weight: normal;
  margin-bottom: 20px;
}
.j-comment form .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.j-comment form .head .form-item {
  position: relative;
  flex: 1;
}
.j-comment form .head .form-item:nth-child(2) {
  margin: 0 20px;
}
.j-comment form .head .form-item span {
  opacity: 0;
  transition: opacity 0.25s;
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  line-height: 14px;
  color: #f56c6c;
  user-select: none;
}
.j-comment form .head .form-item input {
  width: 100%;
  height: 34px;
  outline: none;
  color: #999;
  border: 1px solid #ebebeb;
  padding: 0 15px;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.j-comment form .head .form-item input:focus {
  border-color: #66afe9;
}
.j-comment form .head .form-item input.error {
  border-color: #f56c6c;
}
.j-comment form .textarea {
  margin-bottom: 15px;
  position: relative;
}
.j-comment form .textarea span {
  opacity: 0;
  transition: opacity 0.25s;
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  line-height: 14px;
  color: #f56c6c;
  user-select: none;
}
.j-comment form .textarea textarea {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #999;
  resize: none;
  transition: all 0.4s ease;
  vertical-align: middle;
}
.j-comment form .textarea textarea:focus {
  border-color: #66afe9;
}
.j-comment form .textarea textarea.error {
  border-color: #f56c6c;
}
.j-comment form .submit {
  text-align: right;
}
.j-comment form .submit button {
  outline: none;
  color: #666;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ebebeb;
  padding: 7px 20px;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.j-comment form .submit button:hover {
  color: #66afe9;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.j-comment #commentList {
  display: none;
}
.j-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.j-pagination li {
  margin-left: 5px;
}
.j-pagination li a {
  display: block;
  height: 32px;
  line-height: 32px;
  color: #303133;
  font-size: 14px;
  padding: 0 15px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
  user-select: none;
}
.j-pagination li a:hover {
  background: #303133;
  color: #fff;
}
.j-pagination li.active a {
  background: #303133;
  color: #fff;
}
@keyframes showByRight {
  0% {
    transform: translate3d(100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showByTop {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showByBottom {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showByLeft {
  0% {
    transform: translate3d(-100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
