.j-page {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
}
.j-page .main {
  width: 900px;
  margin-right: 20px;
  animation: showByLeft 1s;
}
.j-page .main .article {
  border-radius: 6px;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.j-page .main .article .header {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.j-page .main .article .header h1 {
  font-size: 0;
  line-height: 38px;
  color: #303030;
  font-weight: normal;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.j-page .main .article .header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.j-page .main .article .header ul li {
  margin: 0 10px;
  font-size: 14px;
  color: #959595;
  user-select: none;
}
.j-page .main .article .header ul li a {
  color: #409eff;
}
.j-page .main .article .header ul li a:hover {
  text-decoration: underline;
}
.j-page .main .article .header ul li.cate a {
  margin-right: 10px;
}
.j-page .main .article .header ul li.cate a:last-child {
  margin-right: 0;
}
.j-page .main .article .markdown blockquote {
  background: #f5fafd;
  padding: 15px 20px;
  border-left: 4px solid #cbcbcb;
  margin: 20px 0;
}
.j-page .main .article .markdown h1,
.j-page .main .article .markdown h2,
.j-page .main .article .markdown h3,
.j-page .main .article .markdown h4,
.j-page .main .article .markdown h5,
.j-page .main .article .markdown h6 {
  margin: 20px 0;
  font-size: 26px;
  color: #555;
  user-select: none;
}
.j-page .main .article .markdown h1::before,
.j-page .main .article .markdown h2::before,
.j-page .main .article .markdown h3::before,
.j-page .main .article .markdown h4::before,
.j-page .main .article .markdown h5::before,
.j-page .main .article .markdown h6::before {
  content: '#';
  margin-right: 5px;
  color: #ec6149;
}
.j-page .main .article .markdown h2 {
  font-size: 24px;
}
.j-page .main .article .markdown h3 {
  font-size: 22px;
}
.j-page .main .article .markdown h4 {
  font-size: 20px;
}
.j-page .main .article .markdown h5 {
  font-size: 18px;
}
.j-page .main .article .markdown h6 {
  font-size: 16px;
}
.j-page .main .article .markdown p {
  text-align: justify;
  line-height: 24px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.j-page .main .article .markdown ol {
  padding: 0 40px;
}
.j-page .main .article .markdown ol li {
  color: #333;
  list-style: decimal;
}
.j-page .main .article .markdown img {
  max-width: 100%;
}
.j-page .main .article .markdown a {
  font-weight: 500;
  color: #409eff;
}
.j-page .main .article .markdown a:hover {
  text-decoration: underline;
}
.j-page .main .page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.j-page .main .page li.right {
  margin-left: auto;
}
.j-page .main .page li a {
  display: block;
  padding: 8px 18px;
  color: #fff;
  border-radius: 3px;
  background: #313a46;
  font-size: 14px;
  transition: all 0.3s;
}
.j-page .main .page li a:hover {
  opacity: 0.85;
}
