html,
body {
  height: 100%;
}
body {
  padding-top: 60px;
  background: #ebebeb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
@keyframes showByRight {
  0% {
    transform: translate3d(100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showByTop {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showByBottom {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showByLeft {
  0% {
    transform: translate3d(-100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.j-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px) saturate(150%) brightness(1.1);
  z-index: 9999;
}
.j-header .logo-none {
  margin-right: 30px;
  user-select: none;
}
.j-header .logo-none a {
  display: flex;
  align-items: center;
  height: 60px;
}
.j-header .logo-none a img {
  width: 25px;
  margin-right: 10px;
}
.j-header .logo-none a span {
  font-size: 18px;
  color: #f4645f;
  font-weight: 500;
}
.j-header .logo {
  margin-right: 30px;
  user-select: none;
}
.j-header .logo a {
  display: flex;
  align-items: center;
  height: 60px;
}
.j-header .logo a img {
  max-height: 60px;
}
.j-header .header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.j-header .header ul {
  display: flex;
  align-items: center;
}
.j-header .header ul li {
  position: relative;
  margin-left: 20px;
  list-style: none;
}
.j-header .header ul li:first-child {
  margin-left: 0;
}
.j-header .header ul li .link {
  position: relative;
  display: block;
  line-height: 60px;
  padding: 0 10px;
  transition: color 0.4s ease;
  user-select: none;
}
.j-header .header ul li .link::after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: all 0.4s ease;
  background: #f4645f;
}
.j-header .header ul li .link.active {
  color: #f4645f;
  font-weight: 500;
}
.j-header .header ul li .link.active::after {
  opacity: 1;
  transform: scaleX(1);
}
.j-header .header ul li .link:hover {
  color: #f4645f;
}
.j-header .header ul li .link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.j-header .header ul li .cate {
  display: block;
  line-height: 60px;
  padding: 0 10px;
  user-select: none;
}
.j-header .header ul li .submenu {
  top: 50px;
  opacity: 0;
  left: 50%;
  margin-left: -56px;
  width: 112px;
  position: absolute;
  background: #fff;
  visibility: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-20deg);
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
  border-radius: 5px;
  transform-origin: top;
  z-index: 99;
  overflow: hidden;
  padding: 10px 0;
}
.j-header .header ul li .submenu.active {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
.j-header .header ul li .submenu a {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 10px 14px;
  transition: all 0.3s;
}
.j-header .header ul li .submenu a.active {
  color: #f4645f;
}
.j-header .header ul li .submenu a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.j-header .header form {
  position: relative;
  display: flex;
  margin-left: auto;
}
.j-header .header form input {
  background: #f1f3fa;
  width: 170px;
  height: 34px;
  padding: 0 32px 0 20px;
  color: #6c757d;
  outline: none;
  border: none;
  border-radius: 17px 0 0 17px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  border-right: none;
}
.j-header .header form input:focus {
  border: 1px solid #f4645f;
  border-right: none;
  background: #fff;
}
.j-header .header form button {
  padding: 0 10px;
  height: 34px;
  border: none;
  outline: none;
  background: #f4645f;
  color: #fff;
  cursor: pointer;
  border-radius: 0 17px 17px 0;
  user-select: none;
}
.j-header .header form .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: #6c757d;
  top: 50%;
  left: 145px;
  margin-top: -9px;
  transform: scale(0);
  cursor: pointer;
  transition: transform 0.2s;
}
.j-footer {
  background: #222831;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.j-footer .main {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  color: #9ca0ad;
  user-select: none;
}
.j-footer .main a {
  color: #9ca0ad;
  transition: all 0.4s ease;
}
.j-footer .main a:hover {
  color: #fff;
}
.j-footer .main span {
  margin: 0 10px;
}
.j-aside {
  animation: showByRight 1s;
}
.j-aside .card {
  width: 280px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.j-aside .card h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  user-select: none;
  color: #303133;
}
.j-aside .card .content {
  padding: 15px;
}
.j-aside .card:last-child {
  margin-bottom: 0;
}
.j-aside .author {
  position: relative;
  padding-top: 30px;
}
.j-aside .author::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: url('../img/aside-author-bg.jpg') no-repeat;
  background-size: cover;
}
.j-aside .author .user {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  padding-bottom: 20px;
}
.j-aside .author .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.75s ease;
  user-select: none;
}
.j-aside .author .user img:hover {
  transform: rotate(360deg);
}
.j-aside .author .user a {
  user-select: none;
  color: #409eff;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.j-aside .author .user a:hover {
  text-decoration: underline;
}
.j-aside .author .user p {
  font-size: 14px;
  color: #212529;
  user-select: none;
}
.j-aside .author .webinfo {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.j-aside .author .webinfo .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.j-aside .author .webinfo .item:nth-child(2) {
  border-left: 1px solid rgba(150, 150, 150, 0.1);
  border-right: 1px solid rgba(150, 150, 150, 0.1);
}
.j-aside .author .webinfo .item span {
  font-size: 14px;
  color: #666;
}
.j-aside .author .webinfo .item .num {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 16px;
  color: #303133;
  margin-bottom: 3px;
}
.j-aside .weather .content {
  position: relative;
  height: 300px;
}
.j-aside .cloud .content {
  height: 280px;
}
.j-aside .cloud ul {
  display: none;
}
.j-aside .reply .content {
  padding: 15px 0;
}
.j-aside .reply .content ol {
  max-height: 250px;
  overflow: hidden;
}
.j-aside .reply .content ol li {
  padding: 0 15px;
  transition: all 0.4s ease;
}
.j-aside .reply .content ol li:hover {
  background: #eee;
}
.j-aside .reply .content ol li a {
  display: flex;
  padding: 10px 0;
}
.j-aside .reply .content ol li a img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.j-aside .reply .content ol li a .info {
  flex: 1;
}
.j-aside .reply .content ol li a .info .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #939393;
}
.j-aside .reply .content ol li a .info p {
  color: #555;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.j-aside .relevant {
  position: sticky;
  top: 90px;
}
.j-aside .relevant .links {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.j-aside .relevant .links a {
  padding: 10px 0;
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
}
.j-aside .relevant .links a:first-child {
  padding-top: 0;
}
.j-aside .relevant .links a:hover {
  color: #409eff;
}
.j-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.j-pagination li {
  margin-left: 5px;
  list-style: none;
}
.j-pagination li a {
  display: block;
  height: 32px;
  line-height: 32px;
  color: #303133;
  font-size: 14px;
  padding: 0 15px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
  user-select: none;
}
.j-pagination li a:hover {
  background: #303133;
  color: #fff;
}
.j-pagination li.active a {
  background: #303133;
  color: #fff;
}
.j-actions {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.j-actions .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform 400ms ease;
}
.j-actions .button svg {
  color: #795548;
  width: 15px;
}
.j-actions .button#backtop {
  transform: scale(0);
}
.j-comment {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
}
.j-comment h3 {
  font-size: 24px;
  color: #303030;
  font-weight: normal;
  margin-bottom: 20px;
}
.j-comment form .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.j-comment form .head .form-item {
  position: relative;
  flex: 1;
}
.j-comment form .head .form-item:nth-child(2) {
  margin: 0 20px;
}
.j-comment form .head .form-item span {
  opacity: 0;
  transition: opacity 0.25s;
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  line-height: 14px;
  color: #f56c6c;
  user-select: none;
}
.j-comment form .head .form-item input {
  width: 100%;
  height: 34px;
  outline: none;
  color: #999;
  border: 1px solid #ebebeb;
  padding: 0 15px;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.j-comment form .head .form-item input:focus {
  border-color: #66afe9;
}
.j-comment form .head .form-item input.error {
  border-color: #f56c6c;
}
.j-comment form .textarea {
  margin-bottom: 15px;
  position: relative;
}
.j-comment form .textarea .tips {
  opacity: 0;
  transition: opacity 0.25s;
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 12px;
  line-height: 14px;
  color: #f56c6c;
  user-select: none;
}
.j-comment form .textarea textarea {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #999;
  resize: none;
  transition: all 0.4s ease;
  vertical-align: middle;
}
.j-comment form .textarea textarea:focus {
  border-color: #66afe9;
}
.j-comment form .textarea textarea:focus ~ .emoji {
  color: #66afe9;
  border: 1px solid #66afe9;
}
.j-comment form .textarea textarea.error {
  border-color: #f56c6c;
}
.j-comment form .submit {
  text-align: right;
}
.j-comment form .submit button {
  outline: none;
  color: #666;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ebebeb;
  padding: 7px 20px;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.j-comment form .submit button:hover {
  color: #66afe9;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.j-comment .commentList {
  display: none;
}
.j-barrage {
  position: fixed;
  color: #fff;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px;
  border-radius: 16px;
  user-select: none;
  z-index: 999;
}
.j-index {
  padding: 30px 0;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: calc(100% - 60px);
}
.j-index .main {
  flex: 1;
  min-width: 900px;
  margin-right: 20px;
  animation: showByLeft 1s;
}
.j-index .main .article {
  margin-bottom: 20px;
}
.j-index .main .article li {
  display: flex;
  padding: 15px;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 20px;
  transition: all 0.2s linear;
}
.j-index .main .article li:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.j-index .main .article li:last-child {
  margin-bottom: 0;
}
.j-index .main .article li .pic {
  position: relative;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  margin-right: 20px;
  overflow: hidden;
}
.j-index .main .article li .pic:hover img {
  transform: scale(1.05);
}
.j-index .main .article li .pic img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.j-index .main .article li .detail .title {
  display: block;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 500;
  transition: all 0.3s;
}
.j-index .main .article li .detail .title:hover {
  opacity: 0.85;
}
.j-index .main .article li .detail .content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #666;
  text-align: justify;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.j-index .main .article li .detail .content:hover {
  opacity: 0.85;
}
.j-index .main .article li .detail .meta {
  display: flex;
  align-items: center;
}
.j-index .main .article li .detail .meta .item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 20px;
}
.j-index .main .article li .detail .meta .item svg {
  width: 18px;
  height: 18px;
  fill: #999;
  margin-right: 5px;
}
.j-index .main .article li .detail .meta .item span {
  color: #999;
  font-size: 14px;
  user-select: none;
}
.j-index .main .article li .detail .meta .item a {
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #409eff;
  margin-right: 5px;
  font-size: 14px;
}
.j-index .main .article li .detail .meta .item a:hover {
  text-decoration: underline;
}
.j-guidang {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  min-height: calc(100% - 60px);
}
.j-guidang .timeline {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
}
.j-guidang .timeline .item {
  position: relative;
  padding: 0 0 25px 25px;
}
.j-guidang .timeline .item:last-child {
  padding-bottom: 0;
}
.j-guidang .timeline .item:last-child ul li {
  margin-bottom: 0;
}
.j-guidang .timeline .item::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 13px;
  height: 13px;
  background: #eee;
  border-radius: 50%;
  z-index: 5;
}
.j-guidang .timeline .item::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 6px;
  width: 1px;
  height: 100%;
  background: #ebebeb;
  border-radius: 50%;
}
.j-guidang .timeline .item span {
  display: block;
  font-size: 20px;
  color: #303133;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 30px;
  user-select: none;
}
.j-guidang .timeline .item ul {
  padding-left: 15px;
}
.j-guidang .timeline .item ul li {
  display: none;
  margin-bottom: 8px;
}
.j-guidang .timeline .item ul li a {
  color: #555;
  font-size: 14px;
}
.j-guidang .timeline .item ul li a:hover {
  text-decoration: underline;
}
.j-guidang .timeline .item ul li.fadeIn {
  display: block;
  animation: fadeIn 0.5s;
}
.j-archive {
  padding: 30px 0;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: calc(100% - 60px);
}
.j-archive .main {
  width: 100%;
}
.j-archive .main .result-title {
  margin-bottom: 30px;
}
.j-archive .main .result-title h1 {
  color: #303030;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.j-archive .main .result-title h1 span {
  color: #f4645f;
}
.j-archive .main .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  height: 200px;
}
.j-archive .main .empty svg {
  width: 60px;
  height: 80px;
  fill: #333;
}
.j-archive .main .empty span {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  user-select: none;
}
.j-archive .main .article {
  margin-bottom: 20px;
}
.j-archive .main .article li {
  display: flex;
  padding: 15px;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 20px;
  transition: all 0.2s linear;
  list-style: none;
}
.j-archive .main .article li:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.j-archive .main .article li:last-child {
  margin-bottom: 0;
}
.j-archive .main .article li .pic {
  position: relative;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  margin-right: 20px;
  overflow: hidden;
}
.j-archive .main .article li .pic:hover img {
  transform: scale(1.05);
}
.j-archive .main .article li .pic img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.j-archive .main .article li .detail .title {
  display: block;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 500;
  transition: all 0.3s;
}
.j-archive .main .article li .detail .title:hover {
  opacity: 0.85;
}
.j-archive .main .article li .detail .content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #666;
  text-align: justify;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.j-archive .main .article li .detail .content:hover {
  opacity: 0.85;
}
.j-archive .main .article li .detail .meta {
  display: flex;
  align-items: center;
}
.j-archive .main .article li .detail .meta .item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 20px;
}
.j-archive .main .article li .detail .meta .item svg {
  width: 18px;
  height: 18px;
  fill: #999;
  margin-right: 5px;
}
.j-archive .main .article li .detail .meta .item span {
  color: #999;
  font-size: 14px;
  user-select: none;
}
.j-archive .main .article li .detail .meta .item a {
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #409eff;
  margin-right: 5px;
  font-size: 14px;
}
.j-archive .main .article li .detail .meta .item a:hover {
  text-decoration: underline;
}
.j-progress {
  position: fixed;
  top: 0;
  left: 0;
  background-color: skyblue;
  height: 2px;
  z-index: 2020520;
  border-radius: 0 2px 2px 0;
  transition: all 0.3s;
}
.j-post {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  min-height: calc(100% - 60px);
}
.j-post .main {
  flex: 1;
  min-width: 900px;
  margin-right: 20px;
  animation: showByLeft 1s;
}
.j-post .main .article {
  border-radius: 6px;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.j-post .main .article .header {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.j-post .main .article .header h1 {
  font-size: 0;
  line-height: 38px;
  color: #303030;
  font-weight: normal;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.j-post .main .article .header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.j-post .main .article .header ul li {
  margin: 0 10px;
  font-size: 14px;
  color: #959595;
  user-select: none;
  list-style: none;
}
.j-post .main .article .header ul li a {
  color: #409eff;
}
.j-post .main .article .header ul li a:hover {
  text-decoration: underline;
}
.j-post .main .article .header ul li.cate a {
  margin-right: 10px;
}
.j-post .main .article .header ul li.cate a:last-child {
  margin-right: 0;
}
.j-post .main .article .markdown blockquote {
  background: #f5fafd;
  padding: 15px 20px;
  border-left: 4px solid #cbcbcb;
  margin: 20px 0;
}
.j-post .main .article .markdown h1,
.j-post .main .article .markdown h2,
.j-post .main .article .markdown h3,
.j-post .main .article .markdown h4,
.j-post .main .article .markdown h5,
.j-post .main .article .markdown h6 {
  margin: 20px 0;
  font-size: 26px;
  color: #555;
  user-select: none;
}
.j-post .main .article .markdown h1::before,
.j-post .main .article .markdown h2::before,
.j-post .main .article .markdown h3::before,
.j-post .main .article .markdown h4::before,
.j-post .main .article .markdown h5::before,
.j-post .main .article .markdown h6::before {
  content: '#';
  margin-right: 5px;
  color: #ec6149;
}
.j-post .main .article .markdown h2 {
  font-size: 24px;
}
.j-post .main .article .markdown h3 {
  font-size: 22px;
}
.j-post .main .article .markdown h4 {
  font-size: 20px;
}
.j-post .main .article .markdown h5 {
  font-size: 18px;
}
.j-post .main .article .markdown h6 {
  font-size: 16px;
}
.j-post .main .article .markdown p {
  text-align: justify;
  line-height: 24px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.j-post .main .article .markdown ol {
  padding: 0 40px;
}
.j-post .main .article .markdown ol li {
  color: #333;
  list-style: decimal;
}
.j-post .main .article .markdown ul {
  padding: 0 40px;
}
.j-post .main .article .markdown ul li {
  color: #333;
  list-style: disc;
}
.j-post .main .article .markdown img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.j-post .main .article .markdown a {
  font-weight: 500;
  color: #409eff;
}
.j-post .main .article .markdown a:hover {
  text-decoration: underline;
}
.j-post .main .page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.j-post .main .page li {
  list-style: none;
}
.j-post .main .page li.right {
  margin-left: auto;
}
.j-post .main .page li a {
  display: block;
  padding: 8px 18px;
  color: #fff;
  border-radius: 3px;
  background: #313a46;
  font-size: 14px;
  transition: all 0.3s;
}
.j-post .main .page li a:hover {
  opacity: 0.85;
}
